* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "tailwindcss";

body {
  background: #f8f5f2;
  color: #2d1b16;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;

}

html {
  scroll-behavior: smooth;
}

.hero-text {
  margin-left: 3rem;
}

@media (min-width: 768px) {
  .hero-text {
    margin-left: 6rem;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    margin-left: 9rem;
  }
}


